{% extends 'index.html' %}

{% block content %}


<div class="container">
  <h3>Customers</h3>
<form method="POST">
  {% csrf_token %}
  <div class="form-group">
    <label>First name :</label>
    <div>{{ form.firstName }}</div>
  </div>
  <div class="form-group">
    <label>Last name :</label>
    {{ form.lastName }}
  </div>
  <div class="form-group">
    <label>Age :</label>
    {{ form.age }}
  </div>
  <div class="form-group">
    <label>Phone :</label>
    {{ form.phone }}
  </div>
  <div class="form-group">
    <label>Email :</label>
    {{ form.email }}
  </div>
  <button type="submit" class="btn btn-primary w-25">Submit</button>
  <a class="btn btn-secondary" href="{% url 'clients' %}">Cancel</a>
</form>

</div>



{% endblock %}